@charset "UTF-8";

* {
	margin:0;
	padding:0;
}
body {
	background:#000000;
	font-family:'Times New Roman';
    	font-size:16px;
	color:#333333;
	letter-spacing:0.1em;
}
a:link,
a:visited {
	color:#3399CC;
	text-decoration:underline;
}
a:hover,
a:active {
	color:#FF6600;
}
a img {
	border:none;
}


#wrap {
	width:1100px;
	margin:0 auto;
}

#side {
    margin:0px 300px 300px 0px;
    padding:10px;
    position:fixed;
    top:0px;
	width:220px;
	float:left;
	background:url(../img/bg_logo.png) no-repeat top right;
}
#side h1 {
	width:180px;
	margin:20px auto 0 auto;
    color:#CCCCCC;    
}
#kyutech{
     margin:10px;
    float:left;
}
#kyutechtext1{
    font-size:15px;
     margin:12px;
      color:#FFFFFF;

}

#side .copy {
	width:180px;
	margin:20px auto;
	font-size:14px;
	color:#CCCCCC;
	line-height:1.8em;
}
#main_content {
    background:url(../img/bg_contents.png) top center repeat-y fixed;
     width:860px;

    float:right;
}

#main_area {
    width:810px;
	margin:10px 20px 0 20px;
	float:right;
}
*html #main_area {
	width:720px;
	margin:20px 10px 0 0;
	float:right;
}

#main {
  height: 350px;
    padding:0px 0px 10px 200px;
    background:#000000;
}

.ContentFlow .flow .item {

            height: 200px;
            width: 700px;
            }
#slide_img{
margin:20px 50px 0px auto;
}


#navi {
	width:218px;
	border-bottom:solid 1px #3D3D3D;
	margin-left:2px;
	list-style-type:none;
}
#navi li {
	width:198px;
	height:35px;
}
#navi li a {
	display:block;
	width:198px;
	height:27px;
	padding:8px 0 0 20px;
	line-height:1.6em;
	background:url(../img/navi.png) no-repeat;
	text-decoration:none;
	color:#FFFFFF;
}
#navi li a:hover {
	background-position:0 -35px;
}
#contents_01 #navi_01 a,
#contents_02 #navi_02 a,
#contents_03 #navi_03 a,
#contents_04 #navi_04 a,
#contents_05 #navi_05 a,
#contents_06 #navi_06 a{
	background-position:0 -35px;
	font-weight:bold;
}
#side_prof {
    font-size:14px;
    	clear:both;
	width:150px;
	border:solid 1px #666666;
	margin:40px auto;
	padding:15px;
	background:#333333 url(../img/bg_side_prof.png) repeat;
	color:#FFFFFF;
}
#side_prof .title {
	margin-bottom:0px;
	font-weight:bold;
	line-height:1.6em;
}
#side_prof img{
margin:5px 10px 0px 25px;
}
#side_prof .name {
 clear:both;
 	margin:10px 0 4px 0;
	font-weight:bold;
	color:#CCCCCC;
	line-height:1.4em;
}
#side_prof .text {
	color:#CCCCCC;
	line-height:1.2em;
}

.abst_top {
	clear:both;
	width:840px;
	height:35px;
	margin-top:20px;
	background:url(../img/bg_tit.png) no-repeat;
	color:#FFFFFF;
}
.abst_top h2 {
	width:360px;
	padding:0px 0 0 10px;
	float:left;
	font-size:24px;
	font-weight:bold;
	line-height:1.5em;
}


.abst_text1 {
    margin:10px 0px 20px 0px;
  font-size:16px;
    line-height:1.6em;
    padding-top:8px;
    padding-bottom:0px;
    Color:#FFFFFF
        }
        
.abst_text1 h2{


}
.movie_top {
	clear:both;
	width:840px;
	height:35px;
	margin-top:0px;
	background:url(../img/bg_tit.png) no-repeat;
	color:#FFFFFF;
}
.movie_top h2 {
	width:340px;
	padding:7px 0 0 10px;
	float:left;
	font-size:24px;
	font-weight:bold;
	line-height:1.5em;
}

.info {
	width:840px;
	margin-right:-20px;
	padding:2px 10px 0 10px;
	padding:2px 10px 10px 10px;
	list-style-type:none;
	background:url(../img/bg_tit.png) repeat-y;
}
.info li {
	width:750px;
	height:300px;
	margin:0 10px 10px 0;
	padding:10px;
	float:left;
	background:#FFFFFF;
	overflow:hidden;
}

.tit_top {
	clear:both;
	width:840px;
	height:35px;
	margin-top:20px;
	background:url(../img/bg_tit.png) no-repeat;
	color:#FFFFFF;
}
.tit_top h2 {
	width:340px;
	padding:0px 0 0 10px;
	float:left;
	font-size:24px;
	font-weight:bold;
	line-height:1.5em;
}

.pickup {
	clear:both;
	width:840px;
	margin-right:-40px;
	list-style-type:none;
}
.pickup li {

	margin:10px 20px 0px 20px;
	padding:0px 20px 10px  20px;
	float:left;
	
	overflow:hidden;
}

.photo3{
  margin-top:30px;

    }
    
.pickup2 {
	clear:both;
	width:840px;
	margin-right:-40px;
	list-style-type:none;
}

.space{

color:#FFFFFF;
    font-size:160px;
    margin:1110px 35px 200px 0px;
	padding:0px 20px 10px  20px;

}

.abst_text1 {
    margin:10px 0px 20px 0px;
  font-size:16px;
    line-height:1.6em;
    padding-top:8px;
    padding-bottom:0px;
    Color:#FFFFFF
        }
#footer {
	clear:both;
	height:80px;

}

#footer address {
	font-size:10px;
	font-style:normal;
	text-align:center;
	color:#FFFFFF;
}


/* クリアフィックスハック */
.clearfix:after { 
	content:"";
    display:block;
    clear:both;
} 
.clearfix { 
	display: inline-block; 
}
/* Mac版IE除外 \*/
.clearfix { 
	display: block; 
}